default:
  image: mcr.microsoft.com/dotnet/sdk:latest

stages:
  - build
  - deploy
  - release

variables:
  NUPKG_LOCATION: /tmp/packages
  ARTIFACTS_LOCATION: $CI_PROJECT_DIR/out

build_frontend_virtualtext:
  stage: build
  image: node:lts
  script:
    - cd $CI_PROJECT_DIR/src/DavidHome.Optimizely.VirtualText/Frontend
    - npm ci
    - npm run build
  artifacts:
    untracked: true
    exclude:
      - "$CI_PROJECT_DIR/**/node_modules/**/*"

build_frontend_robotstxt:
  stage: build
  image: node:lts
  script:
    - cd $CI_PROJECT_DIR/src/DavidHome.Optimizely.VirtualText.Extensions.RobotsTxt/Frontend
    - npm ci
    - npm run build
  artifacts:
    untracked: true
    exclude:
      - "$CI_PROJECT_DIR/**/node_modules/**/*"

build_backend:
  stage: build
  needs:
    - job: build_frontend_virtualtext
      artifacts: true
    - job: build_frontend_robotstxt
      artifacts: true
  variables:
    GIT_DEPTH: 0
    GIT_CLEAN_FLAGS: none
  artifacts:
    paths:
      - $ARTIFACTS_LOCATION/**/*.nupkg
    reports:
      dotenv: gitversion.properties
  before_script:
    - rm -rf $ARTIFACTS_LOCATION
  script:
    - dotnet tool install GitVersion.Tool -g
    - "export PATH=\"$PATH:/root/.dotnet/tools\""
    - dotnet-gitversion /output buildserver
    - dotnet restore --locked-mode --packages $NUPKG_LOCATION
    - dotnet pack --packages $NUPKG_LOCATION -o $ARTIFACTS_LOCATION -c Release
  
deploy:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always
  needs:
    - job: build_backend
      artifacts: true
  script:
    - dotnet nuget push "$ARTIFACTS_LOCATION/*.nupkg" --api-key $NUGET_ORG_API_KEY --source https://api.nuget.org/v3/index.json
  environment: production

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  rules:
   - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: deploy
      optional: true
  script:
    - echo "Running the release job."
    - glab auth login --hostname $CI_SERVER_HOST --job-token $CI_JOB_TOKEN
    - glab release create "$GitVersion_MajorMinorPatch" --name "Release $GitVersion_MajorMinorPatch" -F CHANGELOG -r $CI_COMMIT_SHA
