@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    @Html.Raw(Html.CreatePlatformNavigationMenu())

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <style>
        /* Set padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Set width on the form input elements since they're 100% wide by default */
        select,
        textarea {
            max-width: 380px;
            min-width: 180px;
        }

        .has-search .form-control-feedback {
            right: initial;
            color: #ccc;
            position: absolute;
            padding-left: 8px;
        }

        .has-search .form-control {
            padding-right: 12px;
            padding-left: 34px;
        }

        .form-select {
            padding: 0px;
            max-width: 280px;
            min-width: 180px;
        }

        .btn-info {
            margin: 10px;
            background-color: #040A47;
            border-color: #1456F1;
        }

            .btn-info:hover {
                background-color: #181D55;
            }

        .admin-form-search {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        /*
                CSS Tables
                Found there: https://stackoverflow.com/a/50389231
                */
        .css-grid-table,
        .css-grid-table-header,
        .css-grid-table-body {
            display: grid;
        }

        .css-grid-table {
            width: 80%;
        }

        .css-grid-table-header,
        .css-grid-table-body {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 100%;
        }

        .user-roles.css-grid-table-header,
        .user-roles.css-grid-table-body {
            grid-template-columns: 1fr 4fr .5fr .5fr;
        }

            .user-roles.css-grid-table-body div ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

        .role-mng.css-grid-table-header,
        .role-mng.css-grid-table-body {
            grid-template-columns: 2fr 2fr 2fr .5fr .5fr;
        }

            .role-mng.css-grid-table-body div .text-box {
                width: 100%;
            }

        .css-grid-table-header {
            grid-column-gap: 2px;
            grid-template-rows: auto;
        }

        .css-grid-table-body {
            grid-template-rows: auto auto auto;
        }

        .css-grid-table-header div {
            text-align: center;
            font-weight: bold;
            background-color: rgb(191, 191, 191);
        }

        .css-grid-table-body div {
            padding-left: 6px;
        }
    </style>
</head>
<body>

<div @Html.ApplyPlatformNavigation()>
    <div class="container">
        @RenderBody()
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>
</html>